[submodule "web-server"]
	path = web-server
	url = https://github.com/shalex88/nginx-example.git
[submodule "media-server"]
	path = media-server
	url = https://github.com/shalex88/janus-example.git
[submodule "video-processing"]
	path = video-processing
	url = https://github.com/shalex88/gst-plugins-python
