[submodule "web-server"]
	path = ui/web-server
	url = https://github.com/shalex88/nginx-example.git
[submodule "media-server"]
	path = video/media-server
	url = https://github.com/shalex88/janus-example.git
[submodule "video-processing"]
	path = video/video-processing
	url = https://github.com/shalex88/gst-plugins-python
[submodule "gst-pipeline-launch"]
	path = video/gst-pipeline-launch
	url = https://github.com/shalex88/gst-pipeline-launch
