[Unit]
Description=Project Service
After=network.target

[Service]
Type=simple
#FIXME: remove hardcoded username
ExecStart=/bin/bash -c '/home/user/project/app/run.sh > /home/user/project/log/log.log 2>&1'
Restart=on-abort

[Install]
WantedBy=multi-user.target